{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "insertPragma": false,
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "strict"
}
